*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem */
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #FFFECD;
}

.container {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('./robot.gif');
    background-position: -20rem center;
    background-size: contain;
    background-repeat: no-repeat;
}